#div1{
margin:0px;
padding:0px;
box-sizing:border-box;
}

#nav1{
width:100%;
background-color:black;
display:flex;
justify-content:space-between;
align-items:center;
padding:0px 0px;
}

#txt{
color:red;
margin-right:750px;
font-size:30px;
}

#img1{
margin-left:10px;
}


#nav1 ul{
display:flex;
justify-content:center;
align-items:center;
}

#nav1 ul li{
list-style:none;
padding:0px 20px;
}

#nav1 ul li a{
color:#fff;
font-size:15px;
text-decoration:none;
}

#div2{
margin:0px;
padding:0px;
box-sizing:border-box;
display:flex;
background:lightblue;
}


#div2{
margin:0px;
padding:0px;
box-sizing:border-box;
}

#para{
display:left;
background-color:skyblue;
border:solid;
border-color:white;
border-radius:10px;
width:400px;
height:200px;
font-size:20px;
text-align:center;
justify-content:center;
margin:auto;
padding:10px;
line-height:200%;
margin-left:50px;
}

#div3{
background:skyblue;
color:red;

}

#div4{
background:black;
border-style:solid;
border-width:10px;
border-color:skyblue;
}

#div4 p{
color:white;
text-align:center;
}





















/*#para{
display:left;
background-color:skyblue;
border:solid;
border-color:white;
border-radius:10px;
width:400px;
height:200px;
font-size:20px;
text-align:center;
justify-content:center;
margin:auto;
}*/

#img2{
display:right;
margin-left:50px;
width:60%;
height:50%;
}
 

/*#para{
line-height: 28px;
font-weight: 500; 
padding-bottom: 20px;

text-align:center;
margin-top:200px;
}

#ank{
border-style:solid;
width:100px;
height:100px;
background-color:white;
border-color:black;
text-decoration:none;
}

.btn{
border-style:solid;
border-width:100px;
font-weight:500px;
width:500px;
}*/